<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wondersgroup.padgrade">
    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--拍照权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_login"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BatchCheckActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_check_batch"/>
        <!--去除状态栏
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"-->
        <activity
            android:name=".CategoryCheckActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_check_category"/>
        <activity android:name=".PhotographActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StudentListActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StudentInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuestionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MarkChartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.desmond.squarecamera.CameraActivity"/>
    </application>

</manifest>